#center {text-align: center; font-family: helvetica
}
.broadway {font-size: 70px; font-weight: bold; color: white
  }
  .focus {font-size: 14px}
  .BGImage {background-image: url("../resources/images/broadwayBGimage.png")
}
.identify {font-size: 23px; font-weight: bold}
.heading4 {font-size: 18px; color: white}
